table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border-collapse: collapse;
	text-align: center;
	font-family: arial;
	border-bottom: 2px solid grey;
}

th {
	border-bottom: 2px solid grey;
	padding: 10px;
	background-color: lightblue;
	font-size: 20px;
}

td {
	border-bottom: 1px solid grey;
	padding: 10px;
}

tr:nth-child(odd) {
	background-color: rgb(230,230,230);
}

tr:hover {
	background-color: rgb(240,240,240);
	cursor: pointer;
}

#tableau {
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
}

#dfhInfoBox, #operatorInfoBox, #lsblkInfoBox {
	visibility: hidden;
	border: 2px solid grey;
	width: 300px;
	height: 213px;
	box-shadow: 5px 5px 5px 0 rgb(180,180,180);
	margin: 5px 0 5px 5px;
	background-color: white;
}

h3, h4, h2 {
	padding: 5px;
}

h4, h2 {
	color: grey;
	text-align: center;
}

#avertissement {
	color: red;
	cursor: pointer;
}

#infos {
	cursor: pointer;
	background-color: lightblue;
	margin-top: 114px;
	height: 672px;
	border-left: 2px solid grey;
}

#frontDiv {
	background-color: white;
	width: 750px;
	height: 500px;
	border: 2px solid grey;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: 700px;
	z-index: +1;
	display: none;
}

#frontDiv button {
	float:right;
	width: 50px;
	height: 50px;
	border: 2px solid grey;
	border-radius: 20px;
	font-size: 25px;
}

#frontDiv button:hover {
	color: red;
	background-color: lightgrey;
	cursor: pointer;
}