#tableau-données {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border-collapse: collapse;
	text-align: center;
	font-family: arial;
}

#tableau-données th {
	border-bottom: 2px solid grey;
	padding: 15px 20px;
	background-color: lightblue;
	font-size: 20px;
}

#tableau-données td {
	border-bottom: 1px solid grey;
	padding: 10px 20px;
}

tr:nth-child(odd) {
	background-color: rgb(230,230,230);
}

#tableau-données tr:hover {
	background-color: rgb(240,240,240);
	cursor: pointer;
}

#tableau {
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
}

#infoBox1, #infoBox2 {
	visibility: hidden;
	border: 2px solid grey;
	width: 300px;
	height: 485px;
	margin: 0 10px;
	background-color: white;
}

h3, h4, h2 {
	padding: 5px;
}

h4, h2 {
	color: grey;
	text-align: center;
}

#avertissement {
	color: red;
	cursor: pointer;
}

#infosDiv {
	margin-top: 25px;
	height: 1031px;
}

#infos {
	cursor: pointer;
	margin-top: 53px;
	height: 978px;
	background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F18%2FLeft_arrow.svg%2F434px-Left_arrow.svg.png&f=1&nofb=1');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 50px;
	border-left: 2px solid grey;
	position: sticky;
}

#frontDiv {
	background-color: white;
	width: 750px;
	height: 550px;
	border: 2px solid grey;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: 1100px;
	z-index: +1;
	display: none;
	box-shadow: 5px 5px 5px 0 rgb(180,180,180);
}

#frontDiv button {
	float:right;
	width: 50px;
	height: 50px;
	border: 2px solid grey;
	border-radius: 20px;
	font-size: 25px;
}

#frontDiv button:hover {
	color: red;
	background-color: lightgrey;
	cursor: pointer;
}

#uptime-données, #photos-données {
	border-collapse: collapse;
	text-align: center;
	font-family: arial;
	display: none;
}

#uptime-données th {
	border-bottom: 2px solid grey;
	background-color: lightblue;
	font-size: 20px;
	padding: 50px 5px;
}

#uptime-données td {
	border-bottom: 1px solid grey;
	padding: 50px 5px;
}

#uptime-données tr:last-child {
	border-bottom: 2px solid grey;
}

#tableSize {
	visibility: hidden;
	border-top: 2px solid grey;
}

#photos-données td {
	padding: 8px 20px;
}

.espaceBlanc, .espaceBlancBorder {
	visibility: hidden;
	border-left: 2px solid grey;
	border-right: 2px solid grey;
}

#nombrePhotosDisplay {
	display: none;
}

.borderTop {
	border-top: 2px solid grey;
}

.borderBottom {
	border-bottom: 2px solid grey;
}