body {
	background-color: rgb(240,240,240);
}

#haut {
	margin: 0;
	background-color: rgb(0,210,255);
	padding: 10px;
	color: white;
	display: flex;
	flex-direction: row;
}

#haut div:first-child {
	width: 155px;
}

#haut div:nth-child(3) {
	width: 600px;
}

.menu {
	position: relative;
	display: inline-block;
	padding: 0;
	margin-top: auto;
	margin-bottom: auto;
}

.menu-intérieur {
	display: none;
	position: absolute;
	background-color: rgb(0,225,255);
	box-shadow: 3px 3px 3px 0 rgb(220,220,220);	
}

.menu-intérieur a {
	color: white;
	display: block;
	padding: 15px 90px 15px 15px;
}

.menu-intérieur a:hover {
	background-color: rgb(0,210,255);
	color: rgb(220,220,220);
}

.menu-intérieur a:active {
	color: rgb(240,240,240);
}

.menu:hover .menu-intérieur {
	display: block;
}

.menu span:hover {
	color: rgb(220,220,220);
}

.sections {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	max-width: 1000px;
	margin-top: 40px;
}

.sections h1, p {
	padding-top: 20px;
	padding-left: 20px;
}

#section2 {
	height: 150px;
	display: flex;
	flex-direction: row;
}

#section2 div:first-child {
	width: 495px;
}

#section2 div:nth-child(2) {
	width: 400px;
}

#section2 h1, p {
	padding-top: 0;
}

#boutons {
	margin-top: auto;
	margin-bottom: auto;
}

#boutons ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#boutons li {
	padding: 2px 35px;
	border: 1px solid rgb(0,225,255);
	border-radius: 5px;
	margin: 10px 0;
}

#boutons a {
	color: rgb(0,225,255);
}

#boutons li:hover {
	background-color: rgb(0,210,255);
	box-shadow: 2px 2px 2px 0 rgb(220,220,220);
}

#boutons a:hover {
	color: white;
}

#boutons a:active {
	color: rgb(240,240,240);
}

#section3-haut {
	display: flex;
	flex-direction: row;
}

.divisions-haut {
	height: 700px;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
}

.conteneurs {
	display: flex;
	flex-direction: row;
}

.sous-divisions-haut {
	height: 645px;
	width: 110px;
	margin-left: auto;
	margin-right: auto;
}

.divisions-haut:nth-child(2) div:first-child {
	margin-top: 140px;
}

#section3-haut div > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}

#section3-haut ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#section3-haut li > img {
	width: 35%;
	padding: 35px;
}

#section3-centre {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	height: 5px;
	background-color: rgb(240,240,240);
}

#section3-bas {
	display: flex;
	flex-direction: row;		
}

.divisions-bas {
	height: 300px;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
}

.entre-divisions-bas {
	background-color: rgb(240,240,240);
	margin-top: 30px;
	height: 250px;
	width: 5px;
}

#section3-bas div > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 20%;
}

#section4 {
	height: 300px;
}

#section4 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	max-height: 185px;
}

#bas {
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(0,210,255);
	max-width: 500px;
	margin-top: 40px;
	text-align: center;
	border: 1px solid rgb(0,210,255);
	border-radius: 10px;
	padding: 5px;
}

#bas:hover {
	background-color: rgb(0,225,255);
	box-shadow: 2px 2px 2px 0 rgb(220,220,220);
}

#bas a {
	color: white;
}

#bas a:hover {
	color: rgb(220,220,220);
}

#bas a:active {
	color: rgb(240,240,240);
}

@media screen and (max-width: 800px) {
	#haut div:first-child {
	width: 20px;
		}
	}